@import url('./fonts/fonts.css');

body {
  font-family: montserrat-semibold;
}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
}


.screen {
  flex: 2;
}

.options {
  border-width: 0 0 0 .25rem;
  border-style: solid;
  border-color: var(--primary-dark);
  background-color: var(--light-2);
  padding: 1rem;
  flex: 1;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0;
}

.optionLabel {
  padding: 1rem 0 .5rem 0;
}

@media only screen and (max-width: 1920px) {
  .content {
    flex-direction: column;
  }

  .options {
    border-width: .25rem 0 0 0;
    min-height: 100px;
  }

  .inputContainer {
    flex: 1;
    padding-right: 1rem;
  }

  .optionsContainer {
    flex-direction: row;
  }

  .optionLabel {
    padding: 0;
  }
}
.dataInput {
  font-family: roboto;
  resize: none;
  border: solid var(--primary-dark) .15rem;
}

.runBtn {
  flex: 1;
  align-self: stretch;
  color: white;
  font-family: montserrat-extrabold;
  background-color: var(--purple-primary);
  border-radius: .5rem;
  border-width: 0;
  padding: 1rem;
  margin: .5rem 0 .5rem 0;
  cursor: pointer;
  transition: background-color .1s, padding .5s;
}

.runBtn:hover {
  background-color: var(--purple-hover);
}

.runBtn:active {
  background-color: var(--purple-active);
}

.algoContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.algoArea {
  flex: 1;
  resize: none;
}