@import url("./colors.css");
@import url("./fonts/fonts.css");

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
}

.nav > * {
    flex: 3;
}

.navTitle {
    text-decoration: none;
    font-family: montserrat-extrabold;
    font-size: calc(.8rem + 1.2vw);
    padding: 1rem;
    color: white;
}

.runBtn {
    flex: 1;
    align-self: center;
    color: white;
    font-family: montserrat-extrabold;
    background-color: var(--purple-primary);
    border-radius: .5rem;
    border-width: 0;
    padding: 1rem;
    margin: .5rem 0 .5rem 0;
    cursor: pointer;
    transition: background-color .1s, padding .5s;
}
.runBtn:hover {
    background-color: var(--purple-hover);
}
.runBtn:active {
    background-color: var(--purple-active);
}

.dropdownContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.dropdownBtn {
    font-family: montserrat-extrabold;
    font-size: calc(.65rem + .5vw);
    align-self: center;
    margin: 0 .5rem 0 .5rem;
    border-radius: .5rem;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: background-color .3s;
}

.dropdownBtn > .dropdownIcon {
    padding: 0 .1rem 0 .5rem;
    transition: transform .2s;
}

.dropdownBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdownBtn:focus > .dropdownIcon {
    transform: translate(0, .25rem);
}

@keyframes appear {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 50px;
        opacity: 100%;
    }
}
.dropdownMenu {
    border: solid var(--secondary-dark) .15rem;
    border-radius: .5rem;
    background-color: var(--primary-dark);
    position: absolute;
    transform: translateY(3.7rem);
}

.dropdownItem {
    animation: .5s ease appear;
    display: flex;
    justify-content: center;
}

.dropdownItemBtn {
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
}